*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #08090A;
    color: #d1d0d6;
}

#first-section{
    background-image: url("../public/sec-1/bg.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0C4767;
}

/* nav-bar --line13 */
#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 9px 24px;
    background: rgba(108, 175, 211, 0.048);
    backdrop-filter: blue(18px);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.left img{
    height: 32px;
    width: 115px;
    border-radius: 13px;
}

a{
    text-decoration: none;
    color: #d1d0d6;
    font-size: 15px;
    font-weight: 600;
    padding: 4px 12px;
}

#btn{
    min-height: 33px;
    min-width: 10px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 10px;
}
.trans-btn{
    background-color: #d1d0d61c;
}
.white-btn a{
    font-weight: 550;
    color: #000;
}

/* intro-txt--33 */
#intro-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 91px 0px 96px;  /*<--------------------------*/
    flex-direction: column;
}
#intro-notification .link a{
    min-height: 10px;
    min-width: 360px;
    border-radius: 22px;
    background-color: #d1d0d638;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#intro-notification .link #new-tag{
    background-color: #0C8C5E;
    padding: 1px 7px;
    border-radius: 15px;
    margin-right: 10px;
}
.intro-txt{
    font-size: 25px;
    padding: 45px 0 20px 0;
    color: #FFFFFF;
    text-align: center;
}
.intro-txt .desc{
    margin: 40px 0 0 20px;
}
/* email */
.email{
    min-height: 40px;
    min-width: 80px;
    /* border: 2px solid red; */
    border-radius: 12px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.email #inp-class{
    border: 1px solid white;
    border-radius: 20px;
    padding: 0 20px;
    width: 300px;
    background-color:  #d1d0d61c;
    color: #ffffff;
    font-weight: 600;
    /* text-align: left; */

}
.email button{
    height: 35px;
    min-width: 82px;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 2px 10px;
    text-align: center;
    position: relative;
    left: -95px;
    cursor: pointer;
}

#coding-window img{
    margin-top: 80px;
    border-radius: 12px;
}

/* sec-2 lines--62 partner*/
.brands img{
    margin-top: 10px;
}

/* sec-3 --line 68 heading  */
#header-body{
    text-align: center;
    padding: 48px 32px;
}
#header-body h2{
    font-size: 40px;
    line-height: 2;
    /* text-align: center; */
}
#header-body p{
    font-size: 16px;
    line-height: 1.5;
}

/* sec-4 line--68 */
#heading #card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#heading #card .horiz-card{
    min-height: 100px;
    min-width: 100px;
    margin: 73px;
    padding: 28px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
}
.horiz-card .text-info p{
    margin: 10px 0px 20px 0;
}

.fullScrean{
    margin-bottom: 90px;
}

/* sec-5 --line 104 enterprice */
.top-level-enterprise{
    background-color: #141516;
    padding: 50px 0 100px 0 ;

}
.enterprise{        
    display: flex;
    justify-content: center;
    align-items: center;
}
.enterprise #enterprise-intro{
    display: flex;
}
.enterprise #enterprise-intro .info h3{
    padding: 10px 0; 
    font-size: 30px;
}
.enterprise #enterprise-intro #explore-btn{
    padding: 115px 0 0 150px;
}
.enterprise #enterprise-intro #explore-btn #btn{
    padding: 0 20px;
}

/* enterprise-feature-card */
#enterprise-feature .cards{
    padding: 50px 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#enterprise-feature .cards {
    min-height: 10px;
    min-width: 10px;
}
#enterprise-feature .cards #card-feature-temp img{
    padding: 130px 20px;
}

/* enterprise-feature-card -- antrophy-img*/
.antropy-img {
    text-align: center;
}

.brand-btn {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.brand-logo {
    background: #141516;
    border: none;
}

button{
    cursor: pointer;
}

/* customer-info --line 155 */
.customer-info{
    padding: 140px 0;
    text-align: center;
    background-color: #08090A;
}

.customer-info .customer-intro-text{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.customer-info .customer-intro-text #customers-title{
    color: lab(79.9844% -59.6292 22.5096); 
    font-size: 10px;
    /* padding: 20px 0; */
}
.customer-info .customer-intro-text h2{
    font-size: 35px;
}

/* customers-brand */
.customers-brand{
    padding: 45px 0 0 157px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 16px;
    overflow-x: auto;       /* enable horizontal scroll */
    scroll-behavior: smooth;

    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;
}
.customers-brand .customers-card{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 15px;
    /* border: 2px solid red; */
}
.customers-card img{
    height: 250px;
    width: 350px;
    border-radius: 25px;
}
.customers-card .read-story{
    font-size: 15px;
    padding: 10px 0;
}

/* brand-usp */
#brand-usp{
    padding: 146px 24px;
}

#brand-usp .brand-usp-header h3{
    font-size: 33px;
}
#brand-usp .brand-usp-header p{
    font-size: 15px;
    padding: 14px;
}
#brand-usp .brand-usp-header .brand-usp-button{
    padding: 32px 0;
}

/* ups-links */
#ups-links-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 251px;
}
#ups-links-cards #ups-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
#ups-links-cards .ups-links img{
    height: 51px;
    width: 51px;
    padding: 3px;
    border: 1px solid #d1d0d6;
    border-radius: 10px;
}

/* footer */

/* brand*/
#footer-section{
    background-color: #151616;
}
/* brand */
#brand{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    padding: 64px 32px 24px;
}
#brand #social-media-link a img{
    /* padding: 2px; */
    /* border: 2px solid red; */
    background-color: #151616;

    height: 33px;
    width: 31px;
    margin: 0 -8px 0;
}

/* brands-links line--289*/
#footer-section #brands-links{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    padding: 48px 214px 32px;
    /* text-align: center; */
}

#footer-section #brands-links .brands-footer-links li{
    /* border: 2px solid yellow; */
    list-style: none;
    padding: 12px 0;
    /* width: 50px; */
}
#footer-section #brands-links .brands-footer-links h3{
    font-size: 13px;
    margin: 0 0 4px;
    padding: 6px 12px;
}
#footer-section #brands-links .brands-footer-links a{
    font-size: 14px;
    padding: 6px 12px;
}

/* security-info */
#security-info{
    margin: 20px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#security-info h3{
    font-size: 18px;
    font-weight: 300;
    display: flex;
}
#security-info img{
    position: relative;
    right: 417px;
}

/* system-info */
#system-info{
    padding: 32px 32px 96px;
    display: flex;
    justify-content: space-around;
}
#system-info #left .sys-info{
    padding: 10px 10px;
    color: #d1d0d6;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}